html
  head
    title 'tiptoptypest'
    script(src='/scripts/client.js')
    link(rel='stylesheet', href='/styles/main.css', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:300,700' rel='stylesheet' type='text/css')
  body
    article
        each word in data
            p(class='word')
                - var n = 0
                while n < word.length
                    span(class=word[n])= word[n++]

    input#answer(autofocus, type='text')
    button#another.disabled
