html
  head
    title 'tiptoptypest'
    script(src='/scripts/client.js')
    link(rel='stylesheet', href='/styles/main.css', type='text/css')
  body
    article
        p(class='word') first
        p(class='word') second

    input#answer(autofocus, type='text')
    button#another.disabled
