body { text-align: center; }

.word {
    display: inline-block;
    margin-left: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.word.current {
    font-size: 2em;
    font-weight: 700;
}
.word.complete {
    text-decoration: line-through;
}
.word.current > span {
    transition: color 200ms;
}
span.complete { color: #00FF00; }
span.wrong { color: #FF0000; }


.disabled { display: none; }

#answer {
    height: 40px;
    margin-top: 10px;
    font-size: 2em;
}

.exceptional[data-font=large] .word { display: none; }
.exceptional[data-font=large] .current { display: block; }

